* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', 'Noto Sans', 'Arial', sans-serif
}

body {
    background: #77bb64;
    background-size: cover;
    background-attachment: fixed;
    /* Keeps background in place during scroll */
    margin: 0;
    padding: 0;
    color: #fff;
    height: 100vh;
    width: 100vw;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    position: sticky;
    align-items: center;
    top: 0;
}

.nav-bar h1 {
    font-family: 'Arial', sans-serif;
    color: rgb(32, 248, 4);
    font-weight: bold;
    font-size: 40px;
    margin-left: 50px;

}

.nav-bar .nav-links {
    list-style: none;
    gap: 30px;
    padding-right: 20px;
    font-size: 18px;
    font-weight: 600;
}

.nav-bar .nav-links li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar .nav-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.nav-bar ul li svg {
    width: 28px;
    height: 28px;
    margin-right: 5px;
    margin-top: 5px;
}

.nav-bar ul li:hover {
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(50%) sepia(80%) saturate(300%) hue-rotate(90deg) brightness(110%) contrast(100%);
}


.main-body {
    display: flex;
    justify-content: center;
    height: 100vh;
    padding-top: 25px;
    color: black;
}

.main-body .container {
    text-align: center;
    width: 50vw;
    padding: 30px;
}

.main-body .container #userInput {
    width: 100%;
    height: 60px;
    padding: 10px;
    margin-top: 30px;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    border-radius: 40px;
    border: 2px solid #000000;
    box-shadow: 0 0 15px rgb(5, 5, 5);
    padding-top: 15px;
    overflow-x: auto;
    outline: none;
}

.main-body .container #userInput::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Edge */
}


.main-body .container h2 {
    padding-top: 30px;
    text-align: left;
    color: black;
}

.main-body .container #outputFonts {
    border: 2px solid #0c0c0c;
    margin-top: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 0 15px rgb(5, 5, 5);
    box-sizing: border-box;
}

.main-body .container #outputFonts span {
    height: 25px;
    width: 300px;
    position: relative;
    display: inline-block;
    max-width: 300px;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    font-size: 14px;
    margin-top: 5px;
    -ms-overflow-style: none;
}

.main-body .container #outputFonts span::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Edge */
}


.main-body .container #outputFonts .output-block {
    gap: 10px;
}

.output-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    background: #cbedcd;
    padding: 10px;
    border-radius: 6px;
    font-family: 'Segoe UI', 'Noto Sans', 'Arial', sans-serif;
}


.copy-btn {
    cursor: pointer;
    background: #333;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    height: 30px;
    width: 60px;
    text-align: center;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.copy-btn:hover {
    background: #080808;
}

/* Hamburger menu */
.hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

@media (max-width: 950px) {
    .nav-links {
        position: absolute;
        top: 70px;
        right: 0;
        background-color: #000000;
        flex-direction: column;
        width: 300px;
        padding: 1rem;
        display: none;
    }

    .nav-bar h1{
        margin-left: 0px;
    }
    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    .main-body .container {
        text-align: center;
        width: 80vw;
        padding: 30px;
        /* border: 1px solid black; */
    }

    .nav-bar ul li:hover {
        cursor: pointer;
        filter: brightness(0) saturate(100%) invert(50%) sepia(80%) saturate(300%) hue-rotate(90deg) brightness(110%) contrast(100%);
    }
    

}

@media (max-width: 450px){
    .nav-bar h1{
        font-size: 30px;
        margin-left: 0px;
    }
    .main-body .container{
        padding: 15px;
        width: 100vw;
    }
    .main-body .container h1{
        font-size: 25px;
    }
    .main-body .container h2{
        font-size: 20px;
    }
    .main-body .container .output-block strong{
        font-size: 12px;
    }
    .main-body .container .output-block span{
        font-size: 19px;
    }
    .main-body .container #userInput{
        height: 50px;
        padding-top: 10px;
    }
    
}