* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', 'Noto Sans', 'Arial', sans-serif;
}

header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    align-items: center;
    width: 100%;
}

.nav-bar h1 {
    font-family: 'Arial', sans-serif;
    color: rgb(248, 138, 4);
    font-weight: bold;
    font-size: 40px;
    margin-left: 50px;
    margin-bottom: 0px;

}

.nav-bar .nav-links {
    list-style: none;
    gap: 30px;
    padding-right: 20px;
    font-size: 18px;
    font-weight: 600;
}

.nav-bar .nav-links li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar .nav-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.nav-bar ul li:hover {
    cursor: pointer;
    filter: brightness(0) saturate(60%) invert(50%) sepia(80%) saturate(600%) hue-rotate(350deg) brightness(110%) contrast(100%);
}
.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.hamburger {
    display: none;
    font-size: 2em;
    cursor: pointer;
}


body {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background: #f0b17a;
    text-align: center;
}

h1 {
    margin-bottom: 1rem;
}

.entity-grid1, .entity-grid2, .entity-grid3, .entity-grid4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.4rem;
}

.entity {
    font-size: 25px;
    background: white;
    border: 1px solid #000000;
    padding: 0.2rem;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    min-width: 50px;
    transition: background 0.2s;
}

.entity:hover {
    background: #e0f7fa;
}

.tooltip {
    position: absolute;
    z-index: 1;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    background: #333;
    color: white;
    padding: 0.3rem 0.6rem;
    border-radius: 4px;
    font-size: 0.8rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
}

.entity.copied .tooltip {
    opacity: 1;
}

main {
    width: 100%;
    margin-top: 80px;
    padding: 25px;
}

body main h3{
    margin-top: 10px;
}



@media (max-width: 950px) {
    .nav-links {
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #000000;
        flex-direction: column;
        width: 200px;
        padding: 1rem;
        display: none;
    }

    .nav-bar .nav-links li {
        padding: 5px;
        border-bottom: 1px solid #afa1a1;
        border-radius: 5px;
    }

    .nav-bar h1 {
        margin-left: 0px;
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }
}

@media (max-width: 450px) {
    .nav-bar h1 {
        font-size: 30px;
        margin-left: 0px;
    }
    main h1{
        font-size: 25px;
    }
    main{
        padding: 10px
    }
    .entity-grid1, .entity-grid2, .entity-grid3, .entity-grid4 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.2rem;
    }
    
    .entity {
        font-size: 25px;
        min-width: 40px;
    }
}