header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    height: 70px;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 30px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    align-items: center;
    width: 100%;
    height: 100%;
}

.nav-bar h1 {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-left: 50px;
}

.nav-bar .nav-links {
    list-style: none;
    gap: 30px;
    padding-right: 20px;
    font-size: 18px;
    font-weight: 600;
}

.nav-bar .nav-links li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar .nav-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}


.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
}


.hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

@media (max-width: 950px) {
    .nav-links {
        position: absolute;
        z-index: 1;
        right: -100%;
        top: 70px;
        background: linear-gradient(black,rgb(79, 10, 10));
        flex-direction: column;
        width: 170px;
        height: 100vh;
        padding: 1rem;
        transition: all 0.3s;
    }

    .nav-bar .nav-links li {
        padding: 3px;
        border-bottom: 1px solid #afa1a1;
        border-radius: 5px;
    }

    .nav-bar h1 {
        margin-left: 0px;
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }
}

@media (max-width: 450px) {
    .nav-bar h1 {
        font-size: 30px;
        margin-left: 0px;
    }

    .hamburger {
        font-size: 2rem;
    }
}