* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', 'Noto Sans', 'Arial', sans-serif;
}

body {
    background: rgb(207, 243, 203);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    color: black;
    height: 100vh;
    width: 100vw;
}

.nav-bar span {
    color: rgb(32, 248, 4);
}

.nav-bar ul li:hover {
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(50%) sepia(80%) saturate(300%) hue-rotate(90deg) brightness(130%) contrast(100%);
}

.hamburger {
    color: rgb(32, 248, 4)
}

.main-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-top: 25px;
    position: relative;
    margin-top: 45px;
    color: black;
}

.main-body .container {
    text-align: center;
    width: 60vw;
    padding: 30px;
}

.main-body .container #userInput {
    width: 100%;
    height: 60px;
    padding: 10px;
    margin-top: 30px;
    font-size: 18px;
    font-family: sans-serif;
    border-radius: 40px;
    border: 2px solid #000000;
    box-shadow: 0 0 10px rgb(5, 5, 5);
    padding-top: 15px;
    overflow-x: auto;
    outline: none;
}

.main-body .container #userInput::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Edge */
}


.main-body .container .animated-heading {
    color: rgb(9, 96, 12);
    text-align: center;
    font-size: 15px;
    padding: 0;
}

.main-body .container h2 {
    padding-top: 30px;
    text-align: left;
    color: black;
}

.main-body .container #outputFonts {
    border: 2px solid #0c0c0c;
    margin-top: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 0 10px rgb(5, 5, 5);
    box-sizing: border-box;
}

.main-body .container #outputFonts span {
    width: 100%;
    background-color: rgb(237, 233, 233);
    padding: 2px;
    display: flex;
    align-items: center;
    height: 30px;
    border-radius: 8px;
    position: relative;
    justify-content: center;
    overflow-x: auto;
    white-space: nowrap;
    font-size: 18px;
}

.main-body .container #outputFonts strong {
    font-size: 14px;
}

.main-body .container #outputFonts span::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Edge */
}

.main-body .container #outputFonts .output-block {
    gap: 10px;
}

.main-body .container #outputFonts .output-block .info-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.output-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    background: #fefffe;
    padding: 10px;
    border-radius: 6px;
    font-family: 'Segoe UI', 'Noto Sans', 'Arial', sans-serif;
}

.copy-btn {
    cursor: pointer;
    background: #333;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    height: 30px;
    width: 60px;
    text-align: center;
}

.copy-btn:hover {
    background: #080808;
}

html {
    scroll-behavior: smooth;
}

.scroll-buttons {
    position: fixed;
    bottom: 20px;
    right: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 2;
}

a.button {
    padding: 5px 10px;
    font-size: 18px;
    text-decoration: none;
    background-color: #272626;
    color: white;
    border-radius: 5px;
    text-align: center;
}

a.button:hover {
    background-color: #000000;
}

.share-wrapper {
    position: fixed;
    bottom: 30px;
    right: 80px;
    display: inline-block;
    z-index: 1000;
}

.share-main {
    font-size: 10px;
    height: 60px;
    width: 60px;
    color: black;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    background: rgb(42, 206, 24);
    border-radius: 50%;
    text-align: center;
}

.share-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 20px;
    border-radius: 50%;
    background: #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    pointer-events: none;
    z-index: 1;
    transition: opacity 0.3s ease;
}

.share-wrapper:hover .share-circle {
    opacity: 1;
    pointer-events: auto;
}

.share-circle button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    font-size: 18px;
    cursor: pointer;
    background: #444;
    color: white;
    transition: transform 0.2s ease;
}

.share-circle button:hover {
    transform: scale(1.2);
    z-index: 1;
}

#faq-section {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 2rem 11rem;
    width: 100vw;
    margin: auto;
    font-family: 'Segoe UI', sans-serif;
}

#faq-section h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.faq-item {
    margin-bottom: 2rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1rem;
}

.faq-item h3 {
    font-size: 1.3rem;
    color: #ffffff;
}

.faq-item p {
    font-size: 1rem;
    line-height: 1.6;
    color: #ffffff;
}

.faq-item img {
    width: 25%;
    max-width: 400px;
    margin-top: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.seo-content-section {
    width: 100vw;
    padding: 30px 180px;
    background-color: rgb(255, 255, 255);
    line-height: 1.8;
}

.seo-content-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #00d4ff;
}

.seo-content-section h3 {
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 15px;
    color: #ff8c00;
}

.seo-content-section p {
    margin-bottom: 15px;
    font-size: 16px;
}

.seo-content-section ul,
.seo-content-section ol {
    margin: 15px 0 15px 30px;
}

.seo-content-section li {
    margin-bottom: 10px;
}

.seo-content-section a {
    color: #00d4ff;
    text-decoration: underline;
}


@media (max-width: 950px) {
    .main-body .container {
        text-align: center;
        width: 80vw;
        padding: 30px;
    }

    #faq-section {
        padding: 1rem;
    }

    .faq-item img {
        max-width: 100%;
    }

    .seo-content-section {
        width: 100vw;
        padding: 30px 10px;
        background-color: rgb(255, 255, 255);
        line-height: 1.8;
    }
}

@media (max-width: 450px) {

    .main-body .container {
        padding: 15px;
        width: 100vw;
    }

    .main-body .container h1 {
        font-size: 25px;
    }

    .main-body .container h2 {
        font-size: 20px;
    }

    .main-body .container .output-block strong {
        font-size: 12px;
    }

    .main-body .container .output-block span {
        font-size: 16px;
    }

    .main-body .container #userInput {
        height: 50px;
        padding-top: 10px;
    }

    .scroll-buttons {
        display: none;
    }

    .share-wrapper {
        position: fixed;
        bottom: 40px;
        right: 37px;
    }

    #faq-section h2 {
        font-size: 1.5rem;
    }

    .faq-item h3 {
        font-size: 1.1rem;
    }

    .faq-item p {
        font-size: 0.95rem;
    }

}