* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', 'Noto Sans', 'Arial', sans-serif;
}

.nav-bar span {
    color: rgb(248, 138, 4);
}

.nav-bar ul li:hover {
    cursor: pointer;
    filter: brightness(0) saturate(60%) invert(50%) sepia(80%) saturate(600%) hue-rotate(350deg) brightness(110%) contrast(100%);
}

.hamburger {
    color: rgb(248, 138, 4);
}

body {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    background: #f0b683;
}

main h1 {
    margin-bottom: 1rem;
    text-align: center;
}

.symbol {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 0.4rem;
}

.entity {
    font-size: 25px;
    background: white;
    border: 1px solid #000000;
    padding: 0.2rem;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    min-width: 50px;
    transition: background 0.2s;
    text-align: center;
}

.entity:hover {
    background: #e0f7fa;
}

.tooltip {
    position: absolute;
    z-index: 1;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    background: #333;
    color: white;
    padding: 0.3rem 0.6rem;
    border-radius: 4px;
    font-size: 0.8rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
}

.entity.copied .tooltip {
    opacity: 1;
}

main {
    width: 100%;
    margin-top: 80px;
    padding: 25px;
}

body main h3 {
    margin-top: 10px;
}

.tool-info {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f0f8ff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    font-family: 'Segoe UI', sans-serif;
    color: #333;
}

.tool-info h2 {
    color: #b66400;
    margin-top: 20px;
    font-size: 1.6rem;
}

.tool-info p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 15px;
}

.tool-info ul {
    padding-left: 20px;
    margin-bottom: 15px;
}

.tool-info ul li {
    margin-bottom: 8px;
    list-style-type: disc;
}

@media (max-width: 950px) {
    .tool-info {
        padding: 15px;
        margin: 20px 10px;
    }

    .tool-info h2 {
        font-size: 1.3rem;
    }

    .tool-info p,
    .tool-info ul li {
        font-size: 0.95rem;
    }
}


@media (max-width: 450px) {
    main h1 {
        font-size: 25px;
    }

    main {
        padding: 10px
    }

    .symbol {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.2rem;
    }

    .entity {
        font-size: 25px;
        min-width: 40px;
    }

    .tool-info {
        padding: 10px;
    }

    .tool-info h2 {
        font-size: 1.1rem;
    }

    .tool-info p,
    .tool-info ul li {
        font-size: 0.9rem;
    }

}